  /* DROPDOWN */
    .dropdown {
    padding: 2px 12px;
    font-size: 13px;
    background: var(--bg-card);
    border: 1px solid var(--border);
    border-radius: var(--radius-md);
    color: var(--text-primary);
    outline: none;
    position: relative;
    width:100%;
    min-width: 140px;
    }

      .dropdown__menu {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: white;
        border: 1px solid #ddd;
        display: none;
        list-style: none;
        padding: 3px;
        margin: 0;
        border-radius: var(--radius-md);

      }

      .dropdown__menu li {
        padding: 10px;
        cursor: pointer;
        font-size: 13px;
        border-radius: var(--radius-md);    
        color:var(--bg-hover)

      }
      .dropdown__trigger{
          width: 100%;
          font-size: 13px;
          text-align: left;
          border:transparent;
          display: flex;
          align-items: center;
          justify-content: space-between;
          background: transparent;
          color:var(--text-primary);
      }
      .dropdown__arrow {
        font-size: 20px;   
        width:  8px;      
        height: 30px;
        text-align: center;
        line-height: 1;    
        
      }

      .dropdown.open .dropdown__menu {
        display: block;
      }
      .dropdown__menu  li:hover{
          background-color:var(--accent);
          color:var(--text-primary);
      }